body {
    padding-top: 70px;
}
.navbar-inverse {
    background-color: #EE7220;
    border-color: #EE7220
;
}
.navbar-inverse .navbar-brand {
    color: #FFF;
}
.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
}
.container {
    width: 100%;
}
.color_yellow{
    background-color: #F7EB13;
}
.color_green{
    background-color: #96C953;
}
.color_blue{
    background-color: #20275D;
    color: white;
}
.color_dark_blue{
    background-color: #18365C;
    color: white;
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid #000;
}
.color_half_green{
    background-color:#96C953;
    background-image:-moz-linear-gradient(left, #96C953 50%, #ffffff 50%);
    background-image:-webkit-linear-gradient(left, #96C953 50%, #ffffff 50%);
    background-image:-ms-linear-gradient(left, #96C953 50%, #ffffff 50%);
    background-image:linear-gradient(left, #96C953 50%, #ffffff 50%);
    background-image:-o-linear-gradient(left, #96C953 50%, #ffffff 50%);
    background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(50%,#96C953), color-stop(50%,#ffffff));
}
.color_half_green_blue{
    background-color:#96C953;
    background-image:-moz-linear-gradient(left, #96C953 50%, #20275D 50%);
    background-image:-webkit-linear-gradient(left, #96C953 50%, #20275D 50%);
    background-image:-ms-linear-gradient(left, #96C953 50%, #20275D 50%);
    background-image:linear-gradient(left, #96C953 50%, #20275D 50%);
    background-image:-o-linear-gradient(left, #96C953 50%, #20275D 50%);
    background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(50%,#96C953), color-stop(50%,#20275D));
}
.color_half_blue{
    background-color:#20275D;
    background-image:-moz-linear-gradient(left, #20275D 35%, #ffffff 0%);
    background-image:-webkit-linear-gradient(left, #20275D 35%, #ffffff 0%);
    background-image:-ms-linear-gradient(left, #20275D 35%, #ffffff 0%);
    background-image:linear-gradient(left, #20275D 35%, #ffffff 0%);
    background-image:-o-linear-gradient(left, #20275D 35%, #ffffff 0%);
    background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(35%,#20275D), color-stop(0%,#ffffff));
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 8px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: none;
    background-repeat: no-repeat;
}
.col-lg-6 {
    width: 40%;
    margin-left: 30%;
    margin-top: 10px;
}
button #bcg{
    width: 100%;
}
#pup {
    position:absolute;
    z-index:200; /* aaaalways on top*/
    padding: 3px;
    margin-left: 10px;
    margin-top: 5px;
    width: 250px;
    border: none;
    background-color: #F7B242;
    color: white;
    font-size: 0.95em;
}
.nav-tabs {
    margin-left: 22%;
    margin-right: 22%;
    border-bottom: none;
}
.nav-tabs > li > a {
    color: white;
    cursor: default;
    background-color: rgb(57, 179, 215);
    border-top-right-radius: 20px;
}
.nav-tabs > li > a:hover {
    border-color: #EEE #EEE #DDD;
    color: black;
    background-color: white;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: black;
    cursor: default;
    background-color: #F7B64A;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}
.table-hover > tbody > tr:hover {
    background-color: #39B3D7;
}
#search_table_header{
    background-color: #F7B64A;
}
.table-hover > tbody > tr {
    background-color: #39B3D7;
    color: #FFF;
    text-align: left;
}
.table-hover > tbody > tr:hover {
    background-color: #EE7220;
    color: black;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    color: #FFF;
    background-color: #39B3D7;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: white;
    text-decoration: none;
    background-color: #39B3D7;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.table > tbody > tr > .emptyrow {
    border-top: none;
}
.invoice-width{
    width:75%;
    margin-left: 12.5%;
}
.panel-default {
    border-color: #ddd;
    margin: 20px;
}
.view-invoice {
    margin-left: 15%;
}
.invoice-head
{
    text-align: left;
}
.invoice-bottom{
    text-align: right;
}
.invoice_bill_no
{
    text-align: right;
}
.dotted-line
{
    border-top: dotted 2px;
    padding: 0;
    margin: 0;
}
.table-invoice > thead > tr > th{

    vertical-align: bottom;
    border-bottom: 2px dotted #ddd;
    font-size: 11px;
    font-style: unset;
}
.table-invoice-bottom-margin
{
    margin-bottom: 1px;
    padding-bottom: 1px;
}
.table-cell-padding > tbody > tr > td
{
    padding-bottom: 0;
}
.report-panel
{
    margin-left: 9%;
}